<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div>
          <div class="card">
            <div class="card-header text-center">
              <h4 class="text-center"><b>5-day forecast details</b></h4>
            </div>
            <div class="card-body">
              <fieldset class="pb-3">
                <legend>
                  <b>{{ forCastDataForZip?.city?.name }}</b>
                </legend>
                <div class="mt-4">
                  <ul
                    class="list-group"
                    *ngIf="
                      forCastDataForZip && forCastDataForZip.list.length > 0
                    "
                  >
                    <ng-container
                      *ngFor="let item of forCastDataForZip.list; let i = index"
                    >
                      <li class="list-group-item" *ngIf="i !== 0 && i < 6">
                        {{ item.dt_txt | date: "EEEE, MMM d" }}:
                        {{ item.weather[0].main }}
                        - Min: {{ item.temp.min - 273.15 | number: "1.0-0" }}℃ -
                        Max: {{ item.temp.max - 273.15 | number: "1.0-0" }}℃
                        <img
                          class="icon"
                          *ngIf="item.weather[0].main !== 'Clear'"
                          src="https://www.angulartraining.com/images/weather/{{
                            item.weather[0].main | lowercase
                          }}.png"
                        />
                        <img
                          class="icon"
                          *ngIf="item.weather[0].main === 'Clear'"
                          src="https://www.angulartraining.com/images/weather/sun.png"
                        /></li
                    ></ng-container>
                  </ul>
                </div>
              </fieldset>
            </div>
            <div class="card-footer">
              <button
                class="btn btn-success"
                tabindex="0"
                [routerLink]="['/']"
                routerLinkActive="router-link-active"
                id="mainPageBtn"
              >
                &lt; Back to main page
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
